* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    scroll-padding-top: 60px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

select, .exit-form {
    cursor: pointer;
}

.navbar, .hero-banner {
    font-family: 'Questrial', sans-serif;
    color: white;
}

.navbar {
    z-index: 1;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: fixed;
    border-bottom: 2px solid #84495F;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
    background: linear-gradient(180deg, rgba(2,0,36,0.6699054621848739) 0%, rgba(50,50,56,0.3169642857142857) 100%);
    transition: 0.2s;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 2.5rem;
}

.navbar .new-job {
    color: white;
    font-weight: bold;
}

.navbar .new-job:hover {
    text-decoration: underline;
}

.hero-banner {
    height: 550px;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/frankie-cordoba-fPYJeMmYWM4-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-banner h1 {
    font-size: 5rem;
    text-decoration: underline;
}

.hero-banner p {
    text-align: center;
    margin-bottom: 16px;
}

.btn {
    font-weight: bold;
    color: white;
    background: #84495F;
    padding: 0.3rem 1rem;
    border: 3px solid black;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0.4rem 0.4rem 0 #593E67;
    transform: translate(-0.4rem, -0.4rem);
    outline: unset;
}

.jobs-section {
    padding: 30px 16px;
    background-color: #fac784;
    min-height: 100vh;
}

.search-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.search-inputs input, .search-inputs select {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px;
    border-radius: 8px;
    border: 2px solid #593E67;
    font-size: 16px;
}

.form-btns {
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.form-btns .main-submit, .clean-form {
    width: 200px;
    margin-top: 5px;
    padding: 4px;
    background-color: #84495F;
    color: white;
    border: 2px solid black;
    border-radius: 8px;
}

.form-btns .clean-form {
    background-color: rgb(207, 57, 46);
    margin-left: 10px;
}

.filter-options {
    display: flex;
    overflow: auto;
    padding-bottom: 6px;
}

.filter-options select {
    margin-right: 8px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #593E67;
    font-size: 14px;
}

.filter-options::-webkit-scrollbar {
    -webkit-appearance: none;
    appearance: none;
}

.filter-options::-webkit-scrollbar:horizontal {
    height: 6px;
}

.filter-options::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.jobs-container {
    margin-top: 8px;
}

.jobs-container .error {
    margin-top: 1rem;
    text-align: center;
}

.jobs-container .jobs-found {
    text-align: center;
    color: rgb(36, 36, 36);
    font-size: .90rem;
}

.card-container {
    justify-content: center;
}

.card-container .card {
    padding: 10px;
    padding-left: 16px;
    margin-top: 16px;
    border: 2px solid #593e67;
    border-left: 5px solid #593e67;
    border-radius: 8px;
    background-color: white;
    transition: 0.2s;
    cursor: pointer;
}

.card-container .card .job-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.card-container .card .btn-see-job {
    border: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}

.card-container .card:hover {
    background-color: rgb(246, 246, 246);
    border-color: #B85B56;
}

.card-container .card:hover .btn-see-job {
    color: #B85B56;
}

.card-container .card .job-type, .card-container .card .tags {
    margin-bottom: 8px;
}

.card-container .card .tags .tag {
    background-color: #fac784;
    padding: 0.20rem 0.5rem;
    font-size: 0.80rem;
    border-radius: 15px;
    font-weight: bold;
    color: #611d0c;
    white-space: nowrap;
}

.card-container .card .date {
    color: rgb(36, 36, 36);
    font-size: .80rem;
}

.job-data {
    min-height: calc(100vh - 30px);
    background-color: #fac784;
}

.job-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.job-info {
    padding: 10px;
    background-color: #fac784;
}

.job-data .job-image {
    display: flex;
    height: 150px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../assets/dylan-mullins-RMlrnfuORb4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.job-data .job-image .btn-job {
    padding: 70px 10px;
    display: flex;
    font-size: 1.5rem;
    color: white;
}

.job-data .job-image .btn-job a {
    font-size: 2rem;
}

.job-data .job-title {
    padding: 16px 0;
    border: 2px solid #B85B56;
    border-top: 5px solid #B85B56;
    border-radius: 8px;
    border-bottom: 1px solid #c4c3c3;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.job-data .job-title .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.job-data .job-title h2 {
    margin-right: 16px;
}

.job-management {
    display: flex;
    flex-direction: column;
}

.job-management button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.job-management #editJob:hover {
    color: green;
}

.job-management #deleteJob:hover {
    color: red;
}

.job-data .job-title h2 {
    margin-bottom: 8px;
    text-decoration: underline;
    font-size: 1.7rem;
}

.job-data .job-title .date {
    margin-top: 5px;
    color: rgb(36, 36, 36);
    font-size: .90rem;
}

.job-data .employment-data {
    font-size: 1.2rem;
    font-weight: bold;
}

.job-data .job-description {
    padding: 16px 0;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 2px solid #B85B56;
    border-top: unset;
}

.job-data .job-description .description {
    margin-top: 20px;
}

.job-data .job-details {
    margin-bottom: 10px;
}

.job-data .job-title, .job-data .job-description {
    padding: 10px;
    background-color: white;
}

.delete-section {
    display: flex;
    justify-content: center;
}

.delete-container {
    background-color: white;
    padding: 10px;
    margin: 10px 2px;
    border-radius: 8px;
}

.delete-container span {
    font-weight: bold;
    color: #611d0c;
    text-decoration: underline;
}

.delete-container .delete-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.delete-container button {
    padding: 5px 30px;
    font-weight: bold;
    border: 2px solid #611d0c;
    background-color: #fac784;
    border-radius: 8px;
    color: black;
}

.btn-return {
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: white;
}

.btn-return:hover {
    color: #FEA837;
}

.job-form {
    display: flex;
    justify-content: center;
    background-color: #fac784;
    padding: 30px 16px;
    padding-top: 80px;
    min-height: calc(100vh - 30px);
}

.job-form form {
    width: 90%;
    padding: 10px;
    padding-left: 16px;
    border-radius: 8px;
    border: 2px solid #B85B56;
    background-color: white;
}

.job-form form div {
    margin: 10px 0;
}

.job-form .form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-form .form-title .exit-form {
    background-color: white;
    border: none;
}

.job-form .form-title .exit-form:hover {
    color: #84495F;
}

.job-form .form-title i {
    font-size: 2rem;
}

.job-form .input-container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.job-form label {
    color: black;
}

.job-form .input-container input, .input-container select, .input-container textarea {
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px white inset;
    border-bottom: 3px solid #d0d0d0;
    padding: 5px;
}

.job-form .input-container input:focus, .input-container select:focus, .input-container textarea:focus {
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #b85b56, #c76e5c, #d58262, #e2966a, #edab74, #eca476, #ea9e78, #e7987b, #ce7a7a, #ac6178, #844e73, #593e67);
}

.job-form .btn-container {
    display: flex;
    margin-top: 16px;
}

.job-form .btn-container input {
    margin-right: 8px;
}

.hide {
    display: none;
}

.notVisible {
    opacity: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: #B85B56;
    font-weight: 400;
    color: white;
}

/* Spinner */

.loader {
    width: 100%;
    height: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 99999;
}

.loader-inner {
    height: 60px;
    position: absolute;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (min-width: 500px) {
    .navbar {
        justify-content: flex-start;
        padding-left: 30px;
    }

    .navbar .logo {
        margin-right: 20px;
    }

    .delete-container {
        width: 500px;
    }
}

@media (min-width: 600px) {  
    .jobs-view {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filter-form {
        max-width: 80%;
    }

    .jobs-found {
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .card {
        width: 270px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 767px) {
    .jobs-container {
        max-width: 1300px;
    }

    .search-inputs {
        flex-direction: row;
    }

    .search-inputs input, .search-inputs select {
        height: 40px;
    }

    .search-inputs input {
        margin-right: 10px;
    }

    .jobs-found {
        font-size: 20px;
    }

    .job-image .btn-job, .job-info, #form {
        width: 767px;
    }

    .job-image {
        justify-content: center;
    }

    .job-image .btn-job a {
        font-size: 3rem;
    }

    .job-form {
        justify-self: center;
    }
}